body{

  background-color: hsl(0, 0%, 81%);
}

@media (min-width:700px) {
  .container{

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
        display: grid;
          gap: 10px;
}
.container{
  margin: 10%;
}
}
.card{
  margin:10px;
  background-color: var(--background,hsl(0, 0%, 100%));
  color: var(--color,aliceblue );
  border-radius: 1rem;
  padding: 2rem;
}
.card img{
  border-radius: 50%
}
.card .card_info {
  display: flex;
  align-items: center;
}
.card .card_info div * {
  margin: 0;  
}